<div class="modal-window" id="role-modal">
    <label for="role-modal-id"></label><input type="hidden" id="role-modal-id" name="card-id"><br>
    <label for="role-modal-name"></label><input autocomplete="off" id="role-modal-name" name="card-name"><br>
    <label for="role-modal-admin">Администратор</label><input type="checkbox" name="role-admin" id="role-modal-admin"><br>
    <label for="role-modal-inviter">Может приглашать других пользователей</label><input type="checkbox" name="role-inviter"
                                                                                        id="role-modal-inviter"><br>
    <label for="role-modal-card-editor">Может создавать и удалять любые карточки</label><input type="checkbox"
                                                                                               name="role-card-editor"
                                                                                               id="role-modal-card-editor"><br>
    <label for="role-modal-assigner">Может назначать роли другим пользователям</label><input type="checkbox" name="role-assigner"
                                                                                             id="role-modal-assigner"><br>
    <label for="role-modal-column-editor">Может создавать и удалять колонки</label><input type="checkbox"
                                                                                          name="role-column-editor"
                                                                                          id="role-modal-column-editor"><br>
    <label for="role-modal-doc-editor">Может добавлять и удалять документы</label><input type="checkbox" name="role-doc-editor"
                                                                                         id="role-modal-doc-editor"><br>
    <div>Разрешенные колонки:</div>
    <div class="role-modal-columns" id="role-modal-columns"></div>
    <select id="role-modal-columns-select"></select>
    <button onclick="addColumnToRole()" id="role-modal-column-save-button">Добавить колонку</button>
    <button id="role-modal-save-button">Сохранить</button>
    <button onclick="closeRoleModal()" id="role-modal-close-button">Закрыть</button>
</div>